<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/jquery.cookie.js" type="text/javascript"></script>
<title>签名服务器</title>
</head>
<body>
	<button id = "loginout">退出登录</button>
	<div id = "mainDiv">
		<hr/>
		<div>
			<div id = "runStatus">
				当前签名服务器工作状态:
			</div>
			<button id = "stopSignServer">暂停签名服务器</button>
			<button id = "startSignServer">恢复签名服务器</button>
			<br/>谷歌验证码:<input id = "changeSignServerStatusSign" type = "text"/>
		</div>
		<hr/>
		<div id = "addressKeyDiv">
			当前私钥:
			<table border = "1">
				<tbody id = "addressesTbody">
				</tbody>
			</table>
		</div>
		<hr/>
		<div id = "addPrivateKeyDiv">
			添加私钥:
			<div>
				<div id = "addtypeFile"><!-- 文件格式 -->
					<button id = "changeToSource">切换keystore文本格式</button><br/>
					keystore文件:<input id = "keystoreFile" type = "file"/><br/>
				</div>
				<div id = "addtypeSource"><!-- 文本格式 -->
					<button id = "changeToFile">切换keystore文件格式</button><br/>
					keystore文本(将keystore内容粘贴进文本框内):<br/><textarea id = "keystoreSource" rows="10" cols="30"></textarea><br/>
				</div>
				Keystore密码:<input id = "keystorePwd" type = "text"/><br/>
				谷歌验证码:<input id = "addSign" type = "text"/><br/>
				<button id = "addPrivateKey">添加</button>
			</div>
		</div>
		<hr/>
	</div>
</body>
<script src="/js/index.js" type="text/javascript"></script>
</html>